# Ignore everything by default
/*

# Allow only explicitly tracked files:
!.env
!.gitignore
!changelog.txt
!CHANGELOG.md
!LICENSE
!README.md
!auth.py
!backlog_export.py
!backup_and_push.py
!chat_log.txt
!chat_with_gpt.py
!config.py
!create_github_issue.py
!create_github_repo_and_push.py
!diagnose.py
!ebyauth.py
!file_list.txt
!fix_git_path.py
!get_tracking_status.py
!get_transactions.py
!gitinit.bat
!init_git_repo.py
!local_diagnose.py
!main.py
!messaging.py
!messenger.py
!move_ebymgr_to_root.py
!orders.py
!picksheet.py
!project_selector.py
!project_selector_autorun.py
!requirements.txt
!requirements_ebymgr.txt
!schema_fields.md
!test_linked_order_tracking.py
!exchange_ebay_code_for_tokens.py
!prompt.txt


# Ignore junk anywhere
*.pyc
*.pyd
*.log
*.json
*.old.py
.DS_Store
Thumbs.db
desktop.ini
__pycache__/
backups/
venv/
filter_history/
working_data/
tests/